@import url("https://fonts.googleapis.com/css2?family=Quintessential&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



body {
  height: 100vh;
  font-family: "Quintessential", serif;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(to top, #c996cc, #916bbf, #3d2c8d, #1c0c5b);
  position: relative;
}


h1,
p {
  margin-bottom: 0.5rem;
  color: wheat;
}

h1 {
  font-size: 2rem;
}

p {
  font-size: 2rem;
}

#sound {
  margin-bottom: 2rem;
  opacity: 0.05;
  transition: 500ms ease;
  -webkit-transition: 500ms ease;
  -moz-transition: 500ms ease;
  -ms-transition: 500ms ease;
  -o-transition: 500ms ease;
}

.line-container {
  display: flex;
  align-items: flex-end;
  margin-bottom: 1rem;
}

.line-container > * {
  background-color: wheat;
  width: 1px;
  height: 0px;
  margin: 0 4px;
}

.line-container > *:nth-child(odd) {
  animation: getTaller 1s cubic-bezier(0.42, 0, 0.65, 1.68) infinite;
  -webkit-animation: getTaller 1s cubic-bezier(0.42, 0, 0.65, 1.68) infinite;
}

.line-container > *:nth-child(even) {
  animation: getTaller2 .5s cubic-bezier(0.60, 0, 0.65, 1.68) infinite;
  -webkit-animation: getTaller2 .5s cubic-bezier(0.60, 0, 0.65, 1.68) infinite;
}

@keyframes getTaller {
  from {
    height: 0;
  }
  to {
    height: 10px;
  }
}

@keyframes getTaller2 {
  from {
    height: 0;
  }
  to {
    height: 20px;
  }
}

#sound:hover {
  opacity: 1;
}

.counter-wrapper {
  display: flex;
  margin-bottom: 2rem;
}

.button {
  color: rgb(28, 27, 27);
  font-size: 3rem;
  font-weight: bold;
  display: grid;
  place-content: center;
  height: 4rem;
  width: 8rem;
  text-align: center;
  background-color: rgb(247, 243, 243);
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.254);
  border-style: inset;
  border-width: 8px;
  border-color: white;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
}

.button:hover {
  background-color: wheat;
  border-color: wheat;
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.254);
}

#increase {
  margin-left: 0.5rem;
}

#decrease:disabled {
    opacity: 0.2;
}

#decrease:disabled:hover {
    background-color: rgb(247, 243, 243);
    border-color: white;
  cursor: auto;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}

.stars {
  position: absolute;
  background-color: white;
  top: 1px;
  left: 1px;
  width: 1px;
  height: 1px;
  border-radius: 999px;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  -ms-border-radius: 999px;
  -o-border-radius: 999px;
  animation: getBig 2s ease-in infinite;
  -webkit-animation: getBig 2s ease-in infinite;
}

.biggerStars {
  animation: getBigger 2s ease-out infinite 2s;
  -webkit-animation: getBigger 2s ease-out infinite 2s;
}

@keyframes getBig {
  from {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }

  to {
    transform: scale(2);
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
  }
}

@keyframes getBigger {
  from {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }

  to {
    transform: scale(3);
    -webkit-transform: scale(3);
    -moz-transform: scale(3);
    -ms-transform: scale(3);
    -o-transform: scale(3);
  }
}
